<!DOCTYPE html>
<html lang="en">

<body>
    <div class="demo-button-container">
        <button mat-raised-button class="demo-button" routerLink="/home-usuario">
            Perfil
          </button>
    </div>
    <div class="card-usuario">
        <div class="seccion-avatar">
            <div class="avatar">
                <div class="img-avatar">
                    <img src="../../../assets/bb.jpeg" alt="">
                </div>
            </div>
            <div class="datos-redes">
                <div class="datos-usuario">
                    <span>Canino</span>
                </div>
                <div class="datos-usuario">
                    <span>Macho</span>
                </div>
            </div>
        </div>
        <div class="seccion-datos">
            <h5>Capuchino</h5>
            <p><i class="fas fa-map-marker-alt"></i> Guayaquil</p>

            <p class="bio-usuario">Raza: mestiza (Pitbull - labrador)</p>
            <p class="bio-usuario">Edad: 1 año</p>
            <p class="bio-usuario">Antecedentes: Alergico</p>
            <p class="bio-usuario">Castrado: No</p>

        </div>
    </div>

    <div class="card-usuario">
        <div class="seccion-avatar">
            <div class="avatar">
                <div class="img-avatar">
                    <img src="../../../assets/tugo.png" alt="">
                </div>
            </div>
            <div class="datos-redes">
                <div class="datos-usuario">
                    <span>Tortuga</span>
                </div>
                <div class="datos-usuario">
                    <span>Macho</span>
                </div>
            </div>
        </div>

        <div class="seccion-datos">
            <h5>Tugo</h5>
            <p><i class="fas fa-map-marker-alt"></i> Guayaquil</p>

            <p class="bio-usuario">Raza: Podocnemis unifilis</p>
            <p class="bio-usuario">Edad: 9 año</p>
            <p class="bio-usuario">Antecedentes: Ninguno"</p>
            <p class="bio-usuario">Castrado: No</p>

        </div>
    </div>

    <div class="mis-redes" style="display: block;position: fixed;bottom: 1rem;left: 1rem; opacity: 0.5; z-index: 1000;">
        <p style="font-size: .75rem;">Pet Care - Grupo 15</p>

    </div>
</body>

</html>