<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>PET CARE</span>
    <span class="example-spacer"></span>
    <button mat-button><span routerLink="/home">Inicio</span></button>
    <button mat-button><span routerLink="/servicios">Servicios</span></button>
    <button mat-button><span routerLink="/nosotros">Nosotros</span></button>
    <button mat-raised-button color="accent"><span routerLink="/login">Login</span></button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>