.contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #eec5c5;
    box-shadow: 0 2px 5px rgb( 255, 255, 255);
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px silver #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 71, 230);
    ;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
}